# Machine Learning

In [22]:
install.packages('sf')

  There is a binary version available but the source version is later:
   binary source needs_compilation
sf  0.8-1  0.9-0              TRUE

installing the source package ‘sf’


Warning message in install.packages("sf"):
“installation of package ‘sf’ had non-zero exit status”

In [12]:
library(rgdal)
library(sf)
library(maptools)

ERROR: Error in library(sf): there is no package called ‘sf’

In [4]:
stop_string <- 'Data/stops.txt'
shape_string <- 'Data/tl_2017_13_tabblock10.shp'
stop_path <- file.path(getwd(),stop_string,fsep='/')
shape_path <- file.path(getwd(),shape_string, fsep='/')
data_path <- file.path(getwd(),'Data', fsep='/')
df <- read.csv(stop_path)
head(df)

  stop_id stop_code stop_name                                  stop_lat
1 100148    100148  MARTIN L KING JR DR NW @ CHICAMAUGA AVE NW 33.75382
2 210829  99971061  DEERFIELD PKWY @ TWO VERIZON PL            34.09288
3 100150    100150  MARTIN L KING JR DR NW @ CHAPPELL RD       33.75384
4 100152    100152  FAIR ST SW @ 1ST ST SW                     33.74891
5 100154    100154  FAIR ST@FIRST ST                           33.74908
6 100160    100160  FAIR ST SW @ LAWTON ST SW                  33.74891
  stop_lon
1 -84.43184
2 -84.27110
3 -84.43327
4 -84.42554
5 -84.42530
6 -84.42342

In [11]:
readOGR(dsn=data_path,layer='tl_2017_13_tabblock10')

ERROR: Error in ogrInfo(dsn = dsn, layer = layer, encoding = encoding, use_iconv = use_iconv, : Cannot open layer